/*body{
    /*background-color: rgb(26,26,26);
    height: 100%;
    width: 100%;
}*/
@font-face { /*incluimos el tipo de fuente,dándole un nombre y haciendo referencia al archivo que la contiene*/
    font-family: "Pattaya-Regular";
    src: url("Pattaya-Regular.ttf");
}
.cabecera{
    /*background-color: rgb(26,26,26);*/
    display:flex;
    border-bottom-color: 2px solid black;
    align-items:center;  
}

.navegador{
    /*background-color: rgb(26,26,26);*/
    display: flex;
    width: 70%;
    margin-left: 200px;
    align-items: center;
    justify-content: space-between;
    font-family: "Pattaya-Regular";
}
#home, #proyectos, #contacto{
    background-color: black;
    color: white;
    top: 45px;
    font-size: 22px;
    text-decoration: none;
}

.cuerpo{    
    display:flex;
       
}
.izq{
    background-color: coral;
    display:block;
    height: 80%;
    width: 50%;
}  
.centro{
    position:static;
    width: 624px;
    height: 319px;
    left: 212px;
    top: 370px;
    border-radius: 50%;
    background: #000000;
    border: 10px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
}
.der{
    background-color: yellow;
    display: block;
    width: 50%;
        
}
.pie{
    background-color: rgb(26, 26, 26);
    display: flex;
    flex-direction:column;
    padding-left: 45px;
    border-top-color: 2px solid black;
    bottom: 2px;
    
   
}
.logos{
    background-color: rgb(26, 26, 26);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content:space-around;
    height: 26px;
    width: 103px;
    
}
.follow{
    background-color: rgb(26, 26, 26);
    height: 48px;
    width: 102px;
}

h1, h4, p, a{
    /*text-align: left;*/
    color:white;
    font-family: "Pattaya-Regular"
    
}

h1{
font-size: 96px;
}

p{
    
    font-size: 36px;
    top: 431px;
}

h4{
    
    font-size: 16px;
    
}