/**{
    background-color: rgb(26, 26, 26);
    height: auto;
    width: auto;
}*/
@font-face { /*incluimos el tipo de fuente,dándole un nombre y haciendo referencia al archivo que la contiene*/
    font-family: "Pattaya-Regular";
    src: url("Pattaya-Regular.ttf");
}
.cabecera{
    background-color: red;
    height: 100px;
    display:flex;
    border: 2px solid black;
    align-items:center;
    
}

.logoEmp{
    width: 100px;
    height: 71.25px;
}
.navegador{
    background-color: rgb(26,26,26);
    display: flex;
    width: 90%;
    margin-left: 100px;
    justify-content: space-between;
    
    /*padding-left: 200px;
    padding-right: 100px;
    gap: 20px;*/
}
.cuerpo{
    background-color: rgb(26, 26, 26);
    display:flex;
    flex-direction: row;
    /*align-items: center;*/
    height: 696px;
    border-bottom-color: black;
}
.pie{
    background-color: rgb(26, 26, 26);
    height: 100px;
    display: flex;
    flex-direction:column;
    padding-left: 45px;
    border: 2px solid black;
   
}
.logos{
    background-color: rgb(26, 26, 26);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content:space-around;
    height: 26px;
    width: 103px;
    
}
.follow{
    background-color: rgb(26, 26, 26);
    height: 48px;
    width: 102px;
}

.proyectos{
    padding-left: 200px;
}
.contacto{
    padding-left: 200px;
    padding-right: 200px;
}

h1, h3, h4, p{
    /*text-align: left;*/
    color:white;
    font-family: "Pattaya-Regular"
    
}

h1{
font-size: 96px;
}

h3{
    font-size: 22px;
    top: 45px; 

}

p{
    
    font-size: 36px;
    top: 431px;
}

h4{
    
    font-size: 12px;
    
}