body{
   margin: 0;
}
@font-face { /*incluimos el tipo de fuente,dándole un nombre y haciendo referencia al archivo que la contiene*/
    font-family: "Pattaya-Regular";
    src: url("Pattaya-Regular.ttf");
}

@keyframes rebotar {
    from{transform:translateY(-5);}
    to{transform: translateY(-20px);}
    
}
@keyframes sacarTexto {
    from{transform:translateX(-100%); opacity: 0%;}
    to{transform: translateX(0%);opacity: 100%;}
    
}

#prueba{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height:100vh;

}
.cabecera{
    background-color: rgb(37, 37, 37);
    height: 10%
    display:flex;
    border: 1px solid black;
    align-items:center;  
}

.navegador{
    /*background-color: rgb(26,26,26);*/
    display: flex;
    width: 70%;
    margin-left: 200px;
    align-items: center;
    justify-content: space-between;
    font-family: "Pattaya-Regular";
}
#home, #proyectos, #contacto{
    /*background-color: black;*/
    color: white;
    top: 45px;
    font-size: 22px;
    text-decoration: none;
}

.cuerpo{    
    background-color: rgb(37, 37, 37);
    height: 80%;
    display:flex;
    flex-grow: 2;
       
}
.izq{
    /*background-color: coral;*/
    display:block;
    width: 50%;
}  
.centro{
    position:static;
    width: 624px;
    height: 319px;
    left: 212px;
    top: 370px;
    border-radius: 50%;
    background: #000000;
    border: 10px solid #000000;
    box-sizing:content-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
   /* transition: all 500ms ease-in-out;*/
}
.centro:hover{
    width: 624px;
    height: 319px;
    left: 212px;
    top: 370px;
}
.der{
    /*background-color: yellow;*/
    display: block;
    width: 50%;      
}

.pie{
    /*background-color: rgb(37, 37, 37);*/
    height: 10%;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    border: solid 1px black;
    
    
    
   
}
.logos{
    /*background-color: rgb(26, 26, 26);*/
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-content:space-around;
    align-items: center;
    height: 26px;
    width: 103px;
    
}

.follow{
    background-color: violet;
    color: white;
    font-family: "Pattaya-Regular";
    text-align: center;
    font-size: 16px;
    /*height: 48px;
    width: 102px;*/
}
.insta{
    background-color: tomato;
    animation-name: rebotar;
    animation-duration: 1s;
    animation-timing-function:linear;
    animation-delay:  0s;
    animation-iteration-count: 2;
    animation-direction:alternate;
    animation-fill-mode: both;
    animation-play-state:running;
}
.twitter{
    background-color: violet;
    animation-name: rebotar;
    animation-duration: 1s;
    animation-timing-function:linear;
    animation-delay: 0.5s;
    animation-iteration-count: 2;
    animation-direction:alternate;
    animation-fill-mode: both;
    animation-play-state:running;
}
.link{
    background-color: black;
    animation-name: rebotar;
    animation-duration: 1s;
    animation-timing-function:linear;
    animation-delay: 1s;
    animation-iteration-count: 2;
    animation-direction:alternate;
    animation-fill-mode: both;
    animation-play-state:running;
}

h1{
    animation-name: sacarTexto;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: normal;
    animation-play-state: running;
}
h1, h4, p, a{
    /*text-align: left;*/
    color:white;
    font-family: "Pattaya-Regular";
    
}

h1{
font-size: 96px;
}

p{
    position: relative;
    font-size: 36px;
    top: 431px;
    width: 473px;
    height: 195px;
    left: 288px;

}

h4{
    
    font-size: 16px;
    
}